<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="chart.css">
</head>

<body>
    <div id="app" class="w-100 h-100" style="background-color: aquamarine; overflow: auto;">
        <div class="container" v-if="baixar">
            <div class="form-group">
                <label for="exampleInputEmail1">URL</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    v-model="url" placeholder="https://www.youtube.com/watch?v=" :disabled="!url_en" @change="aplicar">
                <h5 class="text-center my-4">{{nome}}</h5>
                <div class="row" v-if="show_dowload || show_progresso">
                    <div class="col-6">
                        <img :src="tumb" alt="tumb" style="width: 75%;">
                    </div>
                    <div class="col-6" v-if="show_progresso">
                        <div>
                            <h6 class="text-center" style="margin-top: 50px;">Baixando...</h6>
                            <div class="progress" style="height: 30px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" :aria-valuenow="progresso" aria-valuemin="0" aria-valuemax="100"
                                    :style="'width: ' + progresso + '%;'">{{progresso}}%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" v-if="show_dowload">
                        <select class="form-control" v-model="qual">
                            <option v-for="(r, i) in formatos" :value="i">{{r}}</option>
                        </select>
                        <button type="button" class="btn btn-success mt-3 w-100" @click="baixarVideo"
                            v-if="!sucesso">Download</button>
                        <h6 class="text-center text-danger mt-2" v-if="erro">Erro ao baixar!</h6>
                        <h6 class="text-center text-success mt-2" v-if="sucesso">Video baixado com sucesso!</h6>
                    </div>
                </div>
            </div>
            <div>
                <ul class="list-group list-group-flush" v-for="(pa, i) in pastas">
                    <li class="list-group-item" style="height: 150px;"
                        :style="(i % 2 == 0) ? 'background-color: #ffffff' : 'background-color: #aaaaaa'">
                        <div class="row h-100">
                            <div class="col-6">
                                <img :src="'../videos/' + pa + '/tumb.jpg'" alt="tumb.jpg" style="height: 100%;"
                                    @click="video = '../videos/' + pa + '/video.mp4'; baixar = false">
                            </div>
                            <div class="col-3">
                                <div class="d-flex h-100">
                                    <button type="button" class="btn btn-info"
                                        @click="baixar = false; apli = '../videos/' + pa + '/video.mp4'"
                                        style="margin: auto"> Aplicar
                                    </button>
                                </div>
                            </div>
                            <div class="col-3 h-100">
                                <div class="d-flex h-100">
                                    <button type="button" class="btn btn-danger" @click="deletar(pa)"
                                        style="margin: auto"> Deletar
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                            fill="currentColor">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="video">
            <button type="button" class="btn btn-primary" v-if="!print" style="position: fixed; left: 10px; top: 10px;"
                @click="capturarPrint">Print</button>
            <button type="button" class="btn btn-danger" v-if="!print" style="position: fixed; right: 10px; top: 10px;"
                @click="video = null; baixar = true">X</button>
            <video autoplay="autoplay" :controls="!print" style="height: 100vh; width: 100vw;">
                <source :src="video" type="video/mp4">
            </video>
        </div>
        <div v-if="apli" class="w-100 h-100">
            <div style="height: 50%;" class="row m-0">
                <div class="col-1 p-3" >

                </div>
                <div class="col-4 py-3 px-4 mt-5">
                    <select class="form-control mb-3" v-model="drive">
                        <option :value="i" v-for="(d, i) in drivers">{{d.nome}}</option>
                    </select>

                    <button type="button" class="btn btn-success w-100" @click="executarVideo()"
                        v-if="!executar">Executar</button>
                    <button type="button" class="btn btn-warning w-100" @click="executarCancelar()"
                        v-else>Cancelar</button>
                    <label for="" class="d-block">Precisão</label>
                    <div class="d-block justify-content-center w-100">

                        <form class="range-field w-100">
                            <input class="border-0 w-100" type="range" min="0" max="255" v-model="precisao" />
                        </form>
                        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                    </div>
                </div>
                <div class="col-1 p-3" >

                </div>
                <div class="col-6 p-3" >
                    <canvas style="width: 100%; height: 100%; background-color: #ffffff;" id="grafico-canvas"></canvas>
                </div>
            </div>
            <div style="width: 50%; height: 50%; background-color: black;">
                <video style="width: 100%; height: 100%;" class="p-0 m-0" ref="videoShow" @ended="executarTerminar">
                    <source :src="apli" type="video/mp4">
                </video>
            </div>
            <button type="button" class="btn btn-danger" style="position: fixed; right: 10px; top: 10px;"
                @click="apli = null; baixar = true">X</button>
        </div>

    </div>
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="vue.js"></script>
    <script src="chart.js"></script>
    <script src="tela.js"></script>

    <script>

    </script>

</html>